body {
    background-color: #f1f1f1;
    font-family: 'Courier Prime', Helvetica, sans-serif;
}
#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px 3px #333333;
}
#overeye {
    background-image: url('images/eye.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 530px;
    max-width: 100%;
    border: 1px solid #c8291c;
}
header {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: bold;
}
ul {
    max-width: 12%;
    margin: auto;
    text-align: left;
    padding-bottom: 1em;
    padding-top: 1em;
}
ol {
    max-width: 10%;
    margin: auto;
    text-align: left;
    padding-bottom: 1em;
}
a:link {
    text-decoration: none;
    color: #000000;
}
a:visited {
    color: #f1f1f1
}
a:hover { 
    color: #c8291c
}
footer {
    color: #e34234;
    margin-top: auto; font-size: 75%;
    font-style: italic;
    text-align: center;
    padding: 2em 2em 2em 2em;
    margin-left: 190px;
}